# Expiring time for a single user session (default 1 hour)
SESSION_TIME=number_of_seconds

# FastAPI host interface (default 'localhost')
HOST_INTERFACE=ip_address_or_localhost

# ChatGPT API key
GPT_KEY=your_api_token

# ChatGPT API model
#GPT_MODEL=selected_gpt_model